body {
    font-family: Montserrat, sans-serif;
    color: white;
    background: black;
    width: 100vw; 
    height: 100vh;
}

img {

    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 200%; 
    margin-top: 0; 
    margin-bottom: 0;
    color:blue; 
 }

 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

 p {
    text-align: center; 
    color:blue;
 }

.pages {
    position: absolute; 
    transition: opacity 1s; 
    display: flex; 
    flex-direction: 
    column; gap: 20px;
}
        
#application {
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

video {
    width: 750px;
    height: calc(750px*0.5625);
    object-fit: cover;
}

.button { 
    cursor: pointer;
}

.spinning {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid blue;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
.spinning.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

